<div class="inner">
	<form action="/register" class="form" method="POST">
		<h2>Register</h2>

		<label for="name">Name</label>
		<input type="text" name="name" >

		<label for="email">Email</label>
		<input type="email" name="email" >

		<label for="password">Password</label>
		<input type="password" name="password">

		<label for="cpassword">Confirm Password</label>
		<input type="password" name="cpassword">

		<input type="submit" value="Register" class="button" style="margin-top: 1.5rem">
	</form>
</div>