<div class="inner">
	<br>
	<form class="form" method="post">
		<h2>Reset your password!</h2>

		<label for="password">Password</label>
		<input type="password" name="password"/>

		<label for="cpassword">Confirm Password</label>
		<input type="password" name="cpassword"/>
		
		<input type="submit" value="Reset Password" class="button" style="margin-top: 1rem;"/>
	</form>
</div>