<% if(locals.flashes){ %>
	<div class="inner inner--flashes">
		<div class="flash-messages">
			<% const category = Object.keys(locals.flashes) %>

			<% category.forEach((item) =>{ %>
				<% flashes[item].forEach((info) =>{ %>
					<div class="flash flash--<%=item%>">
						<p class="flash__text"><%= info %></p>
						<button class="flash__remove" id="flashBtn" onclick="this.parentElement.remove()">
						×</button>
					</div>
				<% }) %>
			<% }) %>
		</div>
	</div>
<% } %>