<% if(locals.flashes){ %>
	<div class="inner inner--flashes">
		<div class="flash-messages">
			<% const category = Object.keys(locals.flashes) %>
			<% category.forEach((item) =>{ %>
				<div class="flash flash--<%=item%>">
					<p class="flash__text"><%= flashes[item] %></p>
					<button class="flash__remove" onclick="this.parentElement.remove()">
					×</button>
				</div>
			<% }) %>
		</div>
	</div>
<% } %>