<% include ../mixins/_card %>
<% include ../mixins/_pagination %>

<div class="inner">
	<h2><%= title %></h2>
	<div class="stores">
		<% stores.forEach((store) =>{ %>
			<%- storeCard(store) %>
		<% }) %>
	</div>
	<%- pagination(page, pages, count) %>
</div>