<div class="inner">
	<h2><%=title %></h2>
	<div class="map">
		<div class="autocomplete">
			<input type="text" class="autocomplete__input" placeholder="Search for Anything" name="geolocate">
		</div>
		<div id="map"><p>Loading Map...</p></div>
	</div>
</div>